# Mac specific
*.DS_Store

# latex specific
*.aux
*.log

# files in labs/
labs/.DS_Store
labs/*.html

# files in data/
data/.DS_Store
data/.Rhistory

# files in units/
units/*.DS_Store
units/.Rhistory

# files in examples/
examples/.Rhistory
examples/cointoss/.Rproj.user
examples/cointoss/.Rhistory
